In [1]:
import pandas as pd
import os

base = r"C:\Users\camil\OneDrive\Bureau\house_prediction"
path = os.path.join(base, "data", "raw", "realtor-data.zip.csv")

df = pd.read_csv(path)

print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nDtypes:")
print(df.dtypes)
print("\nMissing values:")
print(df.isna().sum())

print("\nDescribe:")
print(df.describe())

df.head()

Shape: (2226382, 12)

Columns: ['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street', 'city', 'state', 'zip_code', 'house_size', 'prev_sold_date']

Dtypes:
brokered_by       float64
status             object
price             float64
bed               float64
bath              float64
acre_lot          float64
street            float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
dtype: object

Missing values:
brokered_by         4533
status                 0
price               1541
bed               481317
bath              511771
acre_lot          325589
street             10866
city                1407
state                  8
zip_code             299
house_size        568484
prev_sold_date    734297
dtype: int64

Describe:
        brokered_by         price           bed          bath      acre_lot  \
count  2.221849e+06  2.224841e+06  1.745065e+06  1.714611e+06  1.900793e+06
mean   5.293989e+04  5.241955e+05  3.275841e+00  2.496440e+00  1.522303e+01
std    3.064275e+04  2.138893e+06  1.567274e+00  1.652573e+00  7.628238e+02
min    0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    2.386100e+04  1.650000e+05  3.000000e+00  2.000000e+00  1.500000e-01
50%    5.288400e+04  3.250000e+05  3.000000e+00  2.000000e+00  2.600000e-01
75%    7.918300e+04  5.500000e+05  4.000000e+00  3.000000e+00  9.800000e-01
max    1.101420e+05  2.147484e+09  4.730000e+02  8.300000e+02  1.000000e+05

             street      zip_code    house_size
count  2.215516e+06  2.226083e+06  1.657898e+06
mean   1.012325e+06  5.218668e+04  2.714471e+03
std    5.837635e+05  2.895408e+04  8.081635e+05
min    0.000000e+00  0.000000e+00  4.000000e+00
25%    5.063128e+05  2.961700e+04  1.300000e+03
50%    1.012766e+06  4.838200e+04  1.760000e+03
75%    1.521173e+06  7.807000e+04  2.413000e+03
max    2.001357e+06  9.999900e+04  1.040400e+09

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [ ]:
import pandas as pd

path = r"C:\Users\camil\OneDrive\Bureau\house_prediction\data\raw\realtor-data.zip.csv"

df = pd.read_csv(path)

# show unique states sorted alphabetically
states = df["city"].dropna().unique()
states_sorted = sorted(states)

print("Number of states:", len(states_sorted))
for s in states_sorted:
    print("-", s)

Number of states: 55
- Alabama
- Alaska
- Arizona
- Arkansas
- California
- Colorado
- Connecticut
- Delaware
- District of Columbia
- Florida
- Georgia
- Guam
- Hawaii
- Idaho
- Illinois
- Indiana
- Iowa
- Kansas
- Kentucky
- Louisiana
- Maine
- Maryland
- Massachusetts
- Michigan
- Minnesota
- Mississippi
- Missouri
- Montana
- Nebraska
- Nevada
- New Brunswick
- New Hampshire
- New Jersey
- New Mexico
- New York
- North Carolina
- North Dakota
- Ohio
- Oklahoma
- Oregon
- Pennsylvania
- Puerto Rico
- Rhode Island
- South Carolina
- South Dakota
- Tennessee
- Texas
- Utah
- Vermont
- Virgin Islands
- Virginia
- Washington
- West Virginia
- Wisconsin
- Wyoming